.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.choices {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}

.choice {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('./img/question.png');
    background-position: center;
}

.choice-rock {
    background-image: url('./img/rock.jpg');
}

.choice-paper {
    background-image: url('./img/paper.jpg');
}

.choice-scissors {
    background-image: url('./img/scissors.jpg');
}

.choice-img {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.computer-choice {
    display: flex;
}

.score-board {
    font-size: 40px;
    margin-top: 50px;
}

.result-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.final-phrase {
    font-size: 30px;
    margin-bottom: 30px;
}

.reset-button {
    font-size: 20px;
}

.result {
    font-size: 20px;
}

.phrase {
    margin-top: 30px;
    font-size: 30px;
}